h1 {
    color: rgb(9, 75, 141);
}

.container {
    width: 55%;
    background-color: rgb(181, 151, 0);
}

ul {
    background-color: rgb(212, 179, 16);
    padding: 0;
}

ul li {
    border: 2px solid purple;
    background-color: rgb(226, 194, 37);
    padding: 1rem;
    list-style-type: none;
}

.doneAction {
    text-decoration: line-through;
}